*{
  margin: 0;
padding: 0;
font-family: Source Sans Pro
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

/*
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  crossed lines - background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");

  */
img{
  display: block;
  width: 200px;
  margin: 20px 0;
 
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Source Sans Pro
}
header{
margin-left: 10%;
margin-right: 10%;

}
header p{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
} main{
display: flex;
align-items: center;
flex-direction: column;
text-transform: uppercase;
}
main h1{
opacity: 2;
z-index: 1;
}
main div{
  margin: 15px;
}
.magna{
  position: relative;
  background: url(images/pic01.jpg);
  background-size: contain;
  width: 300px;
  height: 300px;
  color: white;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  
}
.magna::after{
  content: "";
  position: absolute;
width: 100%;
height: 100%;
top: 0%;
left: 0%;
opacity: 0.7;
background-color: crimson;
}
.magna:hover{
  width: 320px;
  height: 320px;
}
.magna:hover::after{
  opacity: 0;
}

.lorem {
  background: url(images/pic02.jpg);
  background-color: aqua;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  transition: 0.5s;
  background-position: center;
  background-size: cover;
}
.lorem::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: skyblue;
  
}
.lorem:hover {
  width: 320px;
  height: 320px;
}

.lorem:hover::after {
  opacity: 0.0;
}
.feugiant{
  position: relative;
  background: url(images/pic03.jpg);
  background-color: aqua;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  background-position: center;
  background-size: cover;
}
.feugiant::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: green;
}
.feugiant:hover {
  width: 320px;
  height: 320px;
}
.feugiant:hover::after {
  opacity: 0;
}
.tempus {
  position: relative;
  background: url(images/pic04.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}
.tempus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: red;
}
.tempus:hover {
  width: 320px;
  height: 320px;
}
.tempus:hover::after {
  opacity: 0;
}
.aliquam {
  position: relative;
  background: url(images/pic05.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.aliquam::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: purple
}

.aliquam:hover {
  width: 320px;
  height: 320px;
}

.aliquam:hover::after {
  opacity: 0;
}
.veroeros {
  position: relative;
  background: url(images/pic06.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.veroeros::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: blue;
}

.veroeros:hover {
  width: 320px;
  height: 320px;
}

.veroeros:hover::after {
  opacity: 0;
}
.ipsum {
  position: relative;
  background: url(images/pic07.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.ipsum::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: lightblue;
}

.ipsum:hover {
  width: 320px;
  height: 320px;
}

.ipsum:hover::after {
  opacity: 0;
}
.dolor {
  position: relative;
  background: url(images/pic08.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.dolor::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: lightseagreen;
}

.dolor:hover {
  width: 320px;
  height: 320px;
}

.dolor:hover::after {
  opacity: 0;
}
.nullam {
  position: relative;
  background: url(images/pic09.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.nullam::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: lightgreen;
}

.nullam:hover {
  width: 320px;
  height: 320px;
}

.nullam:hover::after {
  opacity: 0;
}
.ulricies {
  position: relative;
  background: url(images/pic10.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.ulricies::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: palevioletred;
}

.ulricies:hover {
  width: 320px;
  height: 320px;
}

.ulricies:hover::after {
  opacity: 0;
}
.dictum {
  position: relative;
  background: url(images/pic11.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.dictum::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: darkblue;
}

.dictum:hover {
  width: 320px;
  height: 320px;
}

.dictum:hover::after {
  opacity: 0;
}
.pretium {
  position: relative;
  background: url(images/pic12.jpg);
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.pretium::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  background-color: palevioletred;
}

.pretium:hover {
  width: 320px;
  height: 320px;
}

.pretium:hover::after {
  opacity: 0;
}
.none{
  display: none;
}

footer{
  display: flex;
  flex-direction: column-reverse;
  background: rgb(245, 245, 245);
}
  
section{
  display: flex;
  flex-direction: column-reverse;
}
form{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  
 
}

input{
  border: none;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
}
h4{
  font-size: 0.5;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 100;
  color: gray;
}
textarea{
  border: none;
  border-bottom: 1px solid gray;
  background-color:rgb(245, 245, 245) ;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
input[type=submit] {
  background-color: rgb(105, 105, 105);
  color: white;
 width: 100%;
 margin: 20px auto ;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5em;
  
}
input[type=submit]:hover{
  background: lightgray;
}
h2{
  font-size: 0.7;
  color: rgb(91, 91, 91);
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.form p{
  margin-left: 5%;
  font-size: 0.8em;
  color: gray;
  margin-bottom: 10px;
}
.icons{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.fas,
.fab{
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  color: gray;
  margin: 5px 2px;
  border: 1px solid gray;
  border-radius: 8px;
}
.fas:hover,
.fab:hover{
  background-color: lightgray;
  color: white;
  
}





@media (min-width:700px){
 
  header{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    
  }
  main{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
  }
  .none{
    display: flex;
  }
  footer{
    justify-content: space-;
    flex-direction: row;

  }
  section{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  form{
   width: 650px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form{
    margin-left: 5px;
  }
  textarea{
   
    width: 100%;
  }
  input[type=submit]{
    width: 200px;
    margin-right: 500px;
     
  }

  form input{
    width: 49%;
    margin-right: 5px;
  
  }
  
  .fas, .fab{
    margin: 10px;
  }

  .right{
    margin-left: 50px;
    width: 40%;
  }
  h2{
    margin-left: 0;
  }
  .right h2{
    margin-left: 5%;
  }
  .form p {
    margin-left: 0%;
    margin-bottom: 30px;
  }

}